<a href="https://colab.research.google.com/github/Son-Of-Brice/Math-Module/blob/main/Python_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [52]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [53]:
#Access Lists
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [54]:
#Replace Lists
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [55]:
#Remove Lists Items
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [56]:
#Join Lists
year1={'topocad', 'GIS', 'maths'}
year2={'Enterpreneurship','PhotoG'}
year1.update(year2)
print(year1)

{'Enterpreneurship', 'GIS', 'maths', 'topocad', 'PhotoG'}

**Tuples**

In [57]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

('apple', 'banana', 'cherry')

In [58]:
#Access Tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [59]:
#Loop Tuples
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [60]:
#Update Tuples
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [61]:
#Unpack Tuples
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [62]:
#Join Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Dictionaries**

In [63]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(thisdict["brand"])

Ford

In [64]:
my_dict={"name":"Jeff","age":"20","gender":"male", "height":1.75,"hobby":"travelling"}
print(my_dict.get("gender"))
my_dict["hobby"]='male'
print(my_dict)

male
{'name': 'Jeff', 'age': '20', 'gender': 'male', 'height': 1.75, 'hobby': 'male'}